.App {
  background-color: black;
  color: white;
  padding: 5%;
  min-height: 100vh;
}
.holder {
  padding: 5%;
  width: 90%;
}
.fileInputContainer,
.outPutFileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button {
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
}
input {
  padding-bottom: 20px;
}
textarea {
  min-width: 100%;
  min-height: 200px;
}
