.App {
  color: white;
  padding: 3% 8%;
  padding-top: 1%;
  min-height: 100vh;
  background: url("../public/images/cuteCats.jpg");
  background-repeat: repeat;
  font-family: Raleway;
}
.App-header {
  background-color: #a349a4;
  padding: 2% 5%;
  outline: solid black 2px;
  border-radius: 10px;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: center;
}
.imageTitle {
  width: 450px;
  height: 125px;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
.imageTitle img {
  width: 100%;
  height: 100%;
}
label {
  margin-bottom: 20px;
  margin-left: 10px;
}
.holder {
  background-color: black;
  padding: 5%;
  width: 90%;
}
.fileInputContainer,
.outPutFileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p {
  font-weight: 800;
}
.buttonContainers {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.downloadButton {
  width: 100px;
  padding: 10px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #99d9ea;
  border-radius: 10px;
  outline: solid black 1px;
  font-weight: 800;
}
.downloadButton:hover {
  background-color: rgb(27, 116, 111);
  outline: solid 3px gold;
  color: white;
  cursor: pointer;
  font-weight: 800;
}

button {
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #22b14c;
  border-radius: 10px;
  border: none;
  height: 60px;
  font-size: 12px;
  outline: solid black 1px;
}
button:hover {
  background-color: green;
  outline: solid 3px gold;
  color: white;
  cursor: pointer;
}
.green {
  background-color: #22b14c;
}

.yellow {
  background-color: #b8a40e;
}
textarea {
  width: 45%;
  min-height: 150px;
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px;
}
h1 {
  margin-top: 0;
}
input {
  margin-bottom: 10px;
}
.labelsBlockState {
  display: none;
}
